.navbar-logo-icon {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: rgb(38, 72, 184);

}

.navbar-logo-text {
    
    font-size: 1.3rem;
    margin-right: 0.5rem;
    color: rgb(38, 72, 184);
    font-family: Parastoo FD, sans-serif;

}